*{
    margin: 0px;
    padding: 0px;
}

.box{
    background-color: aqua;
}

.box1{
    padding: 20px;
    border: 5px solid black;
    margin: 5px;
    height: 100px;
    width: 200px;
    box-sizing: border-box;
}

.box2{
    margin: 20px;
}